.footer {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  margin-top: 10.3rem;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer a {
  color: #00f7ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}



