.integrantesContainer {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.integrante {
  text-align: center;
}

.integrante img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 1rem;
}

.integrante p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.integrante a {
  text-decoration: none;
  color: #00f7ff;
  font-size: 1rem;
}

.integrante a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .integrantesContainer {
    flex-direction: column;
    align-items: center;
  }

  .integrante img {
    width: 20%;
    height: auto;
  }

  .integrante p {
    font-size: 1rem;
  }

  .integrante a {
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .integrante img {
    width: 250px;
    height: 250px;
  }
}


