.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.homeText {
  width: 50%;
}

.homeText h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-left: 30%;
  padding-top: 10%;
}

.homeText p {
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 30%;
  padding-top: 2%;
}

.homeImage {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.homeImage img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    align-items: center;
  }

  .homeText {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .homeText h1 {
    font-size: 2rem;
    padding-top: 5%;
  }

  .homeText p {
    font-size: 1rem;
    padding-top: 2%;
  }

  .homeImage {
    display: none;
  }
}

