.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2rem 10rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.navbarLogo a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.navbarLinks li {
  margin: 0;
  position: relative;
}

.navbarLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 0; 
}

.navbarLinks a:hover {
  color: #00f7ff;
}

.navbarLinks a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.navbarLinks a:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
  }
  
  .navbarLinks {
    flex-direction: column;
    width: 100%;
  }
  
  .navbarLinks li {
    margin: 0.5rem 0;
  }
}

