.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.home-text {
  width: 50%;
}

.home-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-left: 30%;
  padding-top: 10%; 
}

.home-text p {
  font-size: 1.2rem;
  text-align: center;
  padding-left: 30%;
  padding-top: 2%;
}

.home-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.home-image img {
  max-width: 100%;
  height: auto;
}
