.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
}

.navbar-logo a {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li {
  margin: 0;
}

.navbar a {
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.navbar a:hover::before{
  width: 100%;
}
